﻿@{
    ViewData["Title"] = "User Info";
}

<h2>User Info</h2>

<p>Bellow you can find User Info</p>

<ul>
    <li>@ViewData["UserIDentityName"]</li>
    <li>@ViewData["userId"]</li>
    <li>@ViewData["userName"]</li>
    <li>@ViewData["userEmail"]</li>

</ul>