﻿@model SchedulerBoard.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.group)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.group.Id)
        </dd>

    </dl>
    Event Players: <br />
    @foreach (Player player in Model.group.players)
    {
        {
            <input type="checkbox" name="selectedPlayers" @(Model.Players.Contains(player) ? "checked":"unchecked") disabled/>
        }
        
        <span>@player.Nick</span>
        <br />
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
