﻿@model SchedulerBoard.Models.EventViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="GroupId" class="control-label"></label>
                <select asp-for="GroupId" class="form-control" asp-items="ViewBag.GroupId"></select>
                <span asp-validation-for="GroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDate" class="control-label"></label>
                <input asp-for="EventDate" class="form-control" />
                <span asp-validation-for="EventDate" class="text-danger"></span>
           </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            Event Players: <br />
            @if (Model.EventPlayers == null)
            {
                <div>No Players Found for group</div>
            }
            else{

                @for (int i = 0; i < Model.EventPlayers.Count; i++)
                {
                 
                    <label>@Html.CheckBoxFor(x => Model.EventPlayers[i].IsChecked, new {  @id = Model.EventPlayers[i].PlayerId.ToString() })
                        &nbsp;@Model.EventPlayers[i].Name
                    </label>
                    @Html.HiddenFor(x => Model.EventPlayers[i].PlayerId)
                    <br />
                }
                


           }

                    </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
