﻿@model SchedulerBoard.ViewModels.BggCollectionViewModel
@{
    ViewData["Title"] = "BGG Games Library";
}

<h2>BGG games Library</h2>

<p>Bellow you can find All Users BGG Nicknames and their BGG Games Library</p>

<br />
@foreach (Player player in Model.players)
{

    <span>@player.Nick - @player.BggUserName</span> 
    <br />
}