﻿@model SchedulerBoard.ViewModels.GroupViewModel

@{
    ViewData["Title"] = "Details";
}
<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

        .tg td {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }

        .tg th {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }

        .tg .tg-0lax {
            text-align: left;
            vertical-align: top
        }
</style>
<h1>Details</h1>
<div>
    <select asp-for="Id" asp-items="@Model.GroupList"></select>
</div>
<div>
    <h4>Group</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dd class="col-sm-10">
            @if (Model.players == null)
            { 
            <div>No Players Found</div>
            }
             else
            {
            @foreach (var player in Model.players)
            {
            <li>
                @player.Nick<br />
            </li>
            }
            }
</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div>

    @if (Model.events == null)
    {
        <div>No Events Found</div>
    }
    else
    {

        <table class="tg">
            <thead>
                <tr>
                    @foreach (var eventobj in Model.events)
                    {
                    <th class="tg-0lax">
                        Event Title: @eventobj.Title<br />
                        Event Date: @eventobj.EventDate<br />

                        <br />

                        Event Players:
                        @foreach (var eventplayer in eventobj.Players)
                        { 
                         <li>
                        @eventplayer.Nick 
                        </li>
                        }
                        
                        <br />
</th>
                        }
                </tr>
            </thead>
        </table>
    }

</div>